---
import { Image } from 'astro:assets';
import { RankingBoard } from '../components/RankingBoard';
import albums from '../data/albums.json';
import Layout from '../layouts/Layout.astro';
import gemHeart from './gem_heart.png';
---

<Layout>
  <h1 class="flex gap-3 text-pink-400 text-4xl font-bold pt-6 pb-4 px-8">
    <span class="font-['Snell_Roundhand']">Tay Tay Rank</span>
    <Image class="w-[1em] h-[1em]" src={gemHeart} alt="Gem Heart Icon" />
  </h1>
  <RankingBoard client:load albums={albums} />
</Layout>
